// scss-lint:disable NestingDepth
.steps {
  background-color: $steps-bg;
  font-size: 14px;

  @media (min-width: $screen-sm-min) {
    font-size: 17px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 20px;
  }

  .step {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $steps-border-color;

    @media (min-width: $screen-sm-min) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: $screen-md-min) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (min-width: $screen-lg-min) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &.is-visible {
      .step-icon {
        opacity: 1;
        transform: scale(1);
      }

      .step-number {
        opacity: 1;
        transform: translateY(0);
      }

      .step-content-holder {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  a {
    color: $steps-link-color;
    border-bottom: 1px solid transparent;
    transition: border .25s ease;

    &:hover {
      border-bottom-color: $steps-link-color;
      text-decoration: none;
    }
  }
}

.step-row-spacing {
  padding-bottom: 15px;

  @media (min-width: $screen-md-min) {
    padding-bottom: 20px;
  }

  @media (min-width: $screen-lg-min) {
    padding-bottom: 30px;
  }
}

.step-icon-container {
  padding-bottom: 15px;
}

.step-icon {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // transform: scale(0);
  // opacity: 0;
  // transition: .25s ease-in-out;
  fill: $color-secondary;
}

.step-icon-2 {
  left: 4px;
}

.step-number {
  @include font-size(20px, 15px);
  display: block;
  margin-top: 10px;
  color: $color-secondary;
  font-weight: 400;
  text-transform: uppercase;
  // opacity: 0;
  // transform: translateY(-30px);
  // transition: .55s .25s ease-in-out;

  @media (max-width: $screen-xs-max) {
    @include font-size(14px, 14px);
  }
}

.step-content-holder {
  // opacity: 0;
  // transform: translateY(60px);
  // transition: .8s .2s ease-in-out;
}

.step-title {
  @include font-size(20px, 48px);
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-secondary;
  font-weight: 300;
  line-height: 1;
}

.step-lead-text {
  @include font-size(20px, 24px);

  &:not(.step-lead-text-last) {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 35px;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: 75px;
    }
  }

  p {
    margin: 0;
  }
}

.step-content {
  @include font-size(20px, 20px);

  @media (max-width: $screen-xs-max) {
    padding-top: 20px;
  }

  p {
    margin: 0;
  }
}
// scss-lint:enable NestingDepth
